.forgot-card{
    animation:fadeIn .8s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(50px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.subtitle{
    font-size:14px;
    opacity:.7;
    margin-bottom:20px;
}

.links{
    margin-top:18px;
}

.links a{
    text-decoration:none;
    color:#93c5fd;
    font-size:14px;
    transition:.25s;
}

.links a:hover{
    color:#38bdf8;
    text-shadow:0 0 10px #38bdf8;
}
