*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#0f172a;
color:white;
}

/* Layout */
.container{
display:flex;
height:100vh;
}

/* Sidebar */
.sidebar{
width:230px;
background:#020617;
padding:20px;
display:flex;
flex-direction:column;
gap:12px;
border-right:1px solid #1e293b;
}

.sidebar h2{
color:#22c55e;
margin-bottom:20px;
}

.sidebar button{
padding:12px;
border:none;
border-radius:10px;
background:#1e293b;
color:white;
cursor:pointer;
text-align:left;
}

.sidebar button:hover{
background:#22c55e;
color:black;
}

.user{
margin-top:auto;
font-size:14px;
}

.user a{
color:#ef4444;
text-decoration:none;
}

/* Main */
.main{
flex:1;
padding:40px;
overflow:auto;
}

.page{
display:none;
}

.page.active{
display:block;
}

/* Upload Box */
.uploadBox{
background:#020617;
padding:30px;
border-radius:16px;
width:420px;
}

.uploadBox input{
width:100%;
padding:12px;
margin-bottom:12px;
border:none;
border-radius:10px;
background:#1e293b;
color:white;
}

.sendBtn{
width:100%;
padding:14px;
background:#22c55e;
border:none;
border-radius:12px;
font-size:16px;
font-weight:bold;
cursor:pointer;
}

/* File list */
.fileList{
margin-top:20px;
display:flex;
flex-direction:column;
gap:12px;
}

.fileItem{
background:#020617;
padding:15px;
border-radius:14px;
display:flex;
justify-content:space-between;
align-items:center;
}

.fileItem a{
background:#22c55e;
color:black;
padding:8px 14px;
border-radius:10px;
text-decoration:none;
}
.progress{
width:100%;
height:12px;
background:#1e293b;
border-radius:10px;
margin-top:12px;
overflow:hidden;
}

#progressBar{
height:100%;
width:0%;
background:#22c55e;
transition:0.2s;
}
.previewImg{
max-width:220px;
border-radius:12px;
margin-top:8px;
}

.previewVideo{
width:260px;
border-radius:12px;
margin-top:8px;
}

.viewBtn{
background:#22c55e;
padding:8px 12px;
border-radius:10px;
text-decoration:none;
color:black;
display:inline-block;
margin-top:8px;
}
.downloadBtn{
display:inline-block;
margin-top:8px;
background:#3b82f6;
color:white;
padding:7px 12px;
border-radius:8px;
text-decoration:none;
font-size:14px;
}

.downloadBtn:hover{
background:#2563eb;
}
.expireTag{
margin-top:6px;
font-size:13px;
color:#facc15;
opacity:0.9;
}
